[submodule "base"]
	path = base
	url = ../base-port-solaris
	branch = main
[submodule "common"]
	path = common
	url = ../common-port
	branch = main
[submodule "imaging"]
	path = imaging
	url = ../imaging-port
	branch = main
